.section {
  width: 100%;
  background: #08090a;
}

.copyLayout {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns:
    minmax(0, 1fr) var(--scroll-expand-resting-width, 31.3492%)
    minmax(0, 1fr);
  padding: clamp(32px, 9.92svh, 100px) 0 32px;
}

.copyBlock {
  position: relative;
  width: min(
    346px,
    calc(100% - clamp(48px, 7vw, 87px) - clamp(48px, 7vw, 87px))
  );
  justify-self: center;
  color: #fffffb;
  font-family: var(--font-stack-sans-text);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
}

.introCopy {
  grid-column: 1;
}

.introCopy h1 {
  margin-bottom: 25px;
  font-family: var(--font-stack-sans-notch);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
}

.missionCopy {
  grid-column: 3;
  padding-top: 65px;
  text-align: right;
}

@media (max-width: 900px) {
  .copyLayout {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 48px;
    padding: 48px 24px 32px;
  }

  .copyBlock {
    width: auto;
    justify-self: stretch;
  }

  .missionCopy {
    grid-column: 2;
  }
}

@media (max-width: 600px) {
  .copyLayout {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
  }

  .copyBlock {
    max-width: 320px;
    font-size: 16px;
    line-height: 1.2;
  }

  .introCopy h1 {
    margin-bottom: 12px;
    font-size: 24px;
  }

  .missionCopy {
    align-self: flex-end;
    padding-top: 0;
  }
}
